.header {
  background-color: #fff;
  font-size: 1.4rem;
  height: 100%;
  grid-column: sidebar-start / content-end;
  display: grid;
  grid-template-columns: min-content 1fr min-content;

  align-items: center;

  &__logo-box {

  }

  &__logo {
    height: 3.5rem;
    margin-left: 1.5rem;
  }

  &__search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-input {
      width: 45%;
      font-family: inherit;
      font-size: inherit;
      border-radius: 10rem;
      padding: 0.7rem 2rem;
      border: none;
      background-color: var(--color-grey-light-2);
      margin-right: -4rem;

      transition: all .2s;

      &:focus {
        outline: none;
        width: 53%;
      }

      &::placeholder {
        color: var(--color-grey-dark-3);
      }
    }

    &-button {
      border: none;
      margin-top: 3px;
      background-color: var(--color-grey-light-2); 
      transition: all .2s;
      :active {
        transform: translateY(1px);
      } 
    }

    &-icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-dark-3);    
      
    }
  }

  &__user-nav {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, min-content);
  }

  &__icon-box {
    height: 100%;
    position: relative;

    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;

    & > span {
      height: 1.8rem;
      width: 1.8rem;
      border-radius: 50%;
      color: #fff;
      font-size: .75rem;
      background-color: var(--color-primary);

      position: absolute;
      top: 1.5rem;
      left: 3.5rem;

      display: grid;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background-color: var(--color-grey-light-3);
    }
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2);
  }

  &__user-box {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    grid-column-gap: 1rem;

    padding: 0 1.5rem;

    height: 100%;

    &:hover {
      background-color: var(--color-grey-light-3);
    }
  }

  &__user-img {
    height: 4rem;
    border-radius: 50%;
  }

  &__user-name {
    font-size: 1.5rem;
  }

}
